.btn{
    &,
    &:visited,
    &:link{
        @include basic-round-btn;
        border:none;
        transition: all .4s;

    }
    
    &--float{
        border:1px solid $primary-color;
    }

    &--white{
        background:#fff;
        color:$font-dark;

        &::after{
            background:#fff;
        }
    }

    &--green{
        background:$primary-color;
        color:$font-white;

        &::after{
            background:$primary-color;
        }
    }

    &--animated{
        animation: moveUp 1s ease-out .8s backwards;
    }

    &::after{
        @include basic-side-btn;
        border-radius: 10rem;    
        width:100%;
        height:100%;
        z-index:-1;
        transition: all 0.5s;
        visibility: hidden;

    }

    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1.5rem 3rem rgba($box-shadow, .2);
        &::after{
            visibility: visible;
            transform: scaleX(1.6) scaleY(1.4);
            opacity:0;
        }
    }
    
}

.btn-outline{
    &,
    &:visited,
    &:link{
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding:1rem 2rem;
        background:none;
        
        border-radius: 4px;
        font-size:1.2rem;
        color:$font-dark;
        position: relative;
        transition: .5s;
        overflow: hidden;
    }
    
    &--green{
        border:1px solid $primary-color;
    }

    &::before,
    &::after{
        @include basic-side-btn;
        background:rgba($white-color,.4);
        // background: yellow;
        height:100%;
        filter:blur(10px);
        z-index: 10;
        transition:.7s;
    }

    &::before{  
        width:60px;
        transform: translateX(-130px) skewX(-15deg);
    }

    &::after{
        width:30px;
        transform: translateX(-100px) skewX(-15deg);

    }

    &:hover{
        background:linear-gradient(120deg, $primary-color-light, $primary-color-dark);
        cursor: pointer;
        color:$font-white;

        &:before,
        &:after{
            transform: translateX(200px) skewX(-15deg);
        }
    }
}

.btn-float{
    @include basic-round-btn;
    background:none;
    color:$font-white;
    overflow: hidden;
    margin-top: 8rem;
    transition: .5s linear ;
    

    &--green{
        border:1px solid $primary-color;
        background: $primary-color;

        &:before{
            background: $primary-color;
        }
    }

    &__span{
        z-index: 10;
        position: relative;
    }

    &:before{
        @include basic-side-btn;
        width:200%;
        height: 100%;
        border-radius: 0 50% 50% 0;
        transition: width .6s linear;
    }

    &:hover{
        color:$font-dark;
        background:none;
        &::before{
            width:0%;
        }
    }

    
    
}