// GRID
$gutter-horizontal:5rem;
$gutter-vertical:3rem;
$col-margin-bot:6rem;

// COLORs
$primary-color:#55c57a;
$primary-color-light:#7ed56f;
$primary-color-dark:#28b485;
$secondary-color-light:#ffb900;
$secondary-color-dark:#ff7730;
$tertiary-color-light:#2998ff;
$tertiary-color-dark:#5643fa;
$color-gray-light-1:#f7f7f7;
$color-gray-dark-1:#d3d3d3;
$color-gray-dark-2:#8b8b8b;
$box-shadow:#000000;
$white-color:#fff;

// FONT
$font-white:#fff;
$font-dark:#777777;
$font-dark-2:#aaaaaa;
$font-size-default:1.6rem;
$text-margin-bot:1rem;